.signUpPage {
    text-align: center;
    background-color: #91D7A4;
    height:100%;
}
.body {
    position:relative;
    display:flex;
    
}
.title {
    font-size:14vh;
    color:white;
    
    
    
}
.personalisationRow {
    padding-top:4%;
    width:55%;
    position:relative;
    text-align: center;
}

.basicInfoRow {
    width:45%;
    position:relative;
    text-align: center;
}

.profilePic {
    
    top:10%;
    border-radius: 50%;
    width:16vw;
    height:16vw;
    background: rgb(186, 173, 173);
    border: 1px solid black;
    margin-top:-12%;
}

.inputsDiv {
    
    margin-top: 5%;

}

.addProfilePic {
    width:7vh;
    height:7vh;
    font-size:30px;
    border-radius:50%;
}

input{
    
    width:65%;
    margin-bottom:1%;
    font-size:4.5vh;
    
    
}

#chooseFile {
    display:none;
}


label {
    font-size:3vh;
    margin-right:10px;
    color:white
    
}

.experienceButtons {
    padding-bottom:3%;
}

.experienceButtons button {
    width:27%;
    font-size:2vw;
    margin-left: 2%;
    margin-right: 2%;
    color:white;
    margin-top:20px;
    
}

.selectedExperience, .selectedDiscipline {
    border: 10px solid rgb(185, 22, 190);
}


.experienceButtons .beginner {
    background-color: green;
}

.experienceButtons .intermediate {
    background-color: orange;
}

.experienceButtons .advanced {
    background-color: red;
}

.startSearching {
    width:80%;
    background-color: crimson;
    color:white;
    font-size: 5vh;
    padding:2px;
}

.trainingType {
    margin-top:1%;
}




.trainingPics{
    width:100%;
    
    
    
    
}

.trainingTitles {
    display:flex;
    padding-bottom:6px;
    
}

.trainingTitles p {
    width:50%;
    margin: 0;
    color:rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: rgb(7, 51, 14); 
}

.trainingPics img {
    
    width:27%;
    margin-right:3%;
    margin-left:3%;
    margin-top: 1%;
}

.trainingTitles .left {
    margin-left:15%;
}

.trainingTitles .right {
    margin-right:15%;
}
